
.search-container {
    width:100%;
    display:flex;
    justify-content: space-around;
}
.search-bar{
    width:70%;
}
.search-button{
    width:20%;
}
.quotes-container {
    background-color: #e4f7ff;
    padding: 2vw;
    width: 60vw;
    margin: 0;
    height: 100vw;
  }

.weather {
  width:auto;
  height:fit-content;
}

.location{
    font-family: 'impact';
    font-size:5vw;
}
.temp-info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    padding:0;
    margin:0;
}
.description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
    color: rgb(109, 160, 186)
}
.icon{
    font-size:10vh;
    padding:0;
    margin:0;
}

.other-info{
    border: 0px solid black;
    padding:1.5em;
    
}

.info-1{
    border: 0px dashed black;
    padding:0.25vw;
    margin:1vw;
    display:flex;
    justify-content: space-evenly;
}
.box-color{
    background-color: grey;
    padding: 10%;
    margin:2%;
    border-radius: 20px;
    height:auto;
    width:90%;
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


@media (max-width: 720px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .quotes-container {
    padding: 10vw;
    width: 60vw;
  }
  .weather {
    max-width: 100vw;
  }
}
